* {margin:0;}
#status_bar{
	background-color: rgba(19, 20, 20, 0.8);
	background: rgba(19, 20, 20, 0.8);
	color: rgba(19, 20, 20, 0.8);
	padding: 1%;
}
#cmd_res{
	width: 100%;
	height: 300px;
	background-color: rgba(19, 20, 19, 0.5);
	background: rgba(19, 20, 19, 0.5);
	color: rgba(19, 20, 19, 0.9);
	overflow: auto;
}
#buttons{
	background-color: rgba(19, 20, 20, 0.8);
	background: rgba(19, 20, 20, 0.8);
	color: rgba(19, 20, 20, 0.8);
	padding: 1%;
}
#buttons button{
	background-color: rgba(19, 20, 20, 0.4);
	background: rgba(19, 20, 20, 0.4);
	color: white;
	border: 1px solid rgba(19, 20, 20, 0.9);
}
#buttons button:hover{
	background-color: rgba(19, 20, 20, 0.8);
	background: rgba(19, 20, 20, 0.9);
	color: white;
}
#buttons #cmd{
	background-color: rgba(19, 20, 20, 0.6);
	background: rgba(19, 20, 20, 0.6);
	color: white;
	border: 1px solid rgba(19, 20, 20, 0.9);
}
#buttons #cmd:hover{
	background-color: rgba(19, 20, 20, 0.8);
	background: rgba(19, 20, 20, 0.9);
}
#buttons #last_cmd{
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
#buttons #last_cmd:hover{
	color: rgba(19, 20, 20, 0.8);
}